@charset "UTF-8";
:root {}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:&display=swap');
header {
    background-color: black;
    color: white;
    text-align: center;
    background-size: cover;
    margin: 0px;
    border: 0px;
    padding: 10px 0px;
}

header>h1 {
    position: relative;
    font-family: 'https://fonts.googleapis.com/css2?family=Passion+One:&display=swap';
}

header p {}

body {
    margin: 0px;
    border: 0px;
}

main {
    max-width: 500px;
    width: 300px;
    position: relative;
    background-position: center;
    padding: 15px;
}

main p {
    /**/max-width: 400px;
    max-height: 200px;
}



#imagem1{
    max-width: 400px;
    
    
}

#fundo-img1 {
    color: white;
    padding: 100px;
    position: relative;
    background: url(imagens/background001.jpg) ;
       
       background-size: cover;
       background-position: center;
       
}
    

#fundo-img2 {
color: white;

padding: 100px;


position: relative;
background: url(imagens/background002.jpg) ;
background-size: cover;

}


#imagem2{
    color: white;
    max-width: 500px;
    display: inline-block;
    border:  solid red 1px;
}

/*#paragrafo1{
    max-width: 600px;
    max-height: 400px;
    
}*/