@charset "UTF-8";

:root{ 
   
    
   
    
}
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:&display=swap' );

header{ background-color: black;
    color: white;
    text-align: center;
    background-size: cover;
    margin: 0px;
    border: 0px;
    padding: 10px 0px;

}

header>h1{
    position: relative;
    font-family: 'https://fonts.googleapis.com/css2?family=Passion+One:&display=swap' ; 


}

header p{

}

body{
    margin: 0px;
    border: 0px;
}
main{
    max-width: 800px;
    width: 150px;
    position: relative;
    background-position: center;
     padding: 15px;
}
main>p{
   
}

#fundo-img1{

}